<header>
    <div class="video">
        <video src="/assets/background-snow.mp4" autoplay no-controls no-sound loop></video>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col m8 news">
                    <h2>World Class Amateur Tournaments for All Sports</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto inventore animi perferendis
                        repudiandae obcaecati blanditiis cum accusamus minus, ipsa quo, dolore quam omnis quaerat
                        assumenda. Quia, voluptatum. Quo, iure debitis.</p>
                    <div class="results">
                        <h4>La liga</h4>
                        <div class="teams-wrapper">
                            <div class="team">
                                <img src="/assets/real-madrid-c-f.svg" alt="logo local team">
                                <div class="team-name">
                                    Real Madrid Fc
                                </div>
                            </div>
                            <div class="score-board">
                                <h4>0 - 0</h4>
                            </div>
                            <div class="team">
                                <img src="/assets/fc-barcelona.svg" alt="logo local team">
                                <div class="team-name">
                                    Real Madrid Fc
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col m4 auth">
                    <app-sign-up></app-sign-up>
                </div>
            </div>

        </div>
    </div>

</header>