<section class="featured">
  <div class="row">
    <div id="test1" class="slide col s12">
      <h2>
        Men's
      </h2>
    </div>
    <div id="test2" class="slide col s12">
      <h2>
        Women's
      </h2>
    </div>
    <div id="test4" class="slide col s12">
      <h2>
        Coed
      </h2>
    </div>
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4">
          <a class="waves-effect waves-blue" href="#test1">Men's</a>
        </li>
        <li class="tab col s4">
          <a class="waves-effect waves-blue" href="#test2">Women's</a>
        </li>
        <li class="tab col s4">
          <a class="waves-effect waves-blue" href="#test4">Coed</a>
        </li>
      </ul>
    </div>
  </div>
</section>
