<section class="slide">
  <div class="slide-content row">
    <div class="col s6">
      <h2>
        .men
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ducimus
        quisquam error deserunt voluptates. Debitis assumenda ullam nesciunt
        voluptatibus quia et placeat odit laboriosam adipisci reiciendis
        accusantium, sapiente ratione quaerat?Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Quae ducimus quisquam error deserunt
        voluptates. Debitis assumenda ullam nesciunt voluptatibus quia et
        placeat odit laboriosam adipisci reiciendis accusantium, sapiente
        ratione quaerat?
      </p>
    </div>
    <div class="col s6">
      <app-featured-details></app-featured-details>
    </div>
  </div>
</section>
