<nav [ngClass]="{ 'navbar-end': !isAuthenticated }">
  <div class="left-icons" *ngIf="isAuthenticated">
    <i
      class="circle material-icons waves-effect waves-blue"
      (click)="toggleSideNav()"
      [ngClass]="{ 'rotate-90': isSideNavMinimized }"
    >
      menu
    </i>
    <i class="circle material-icons waves-effect waves-blue"> search </i>
  </div>
  <div class="brand-box">
    <h4>sportsbencher</h4>
  </div>
  <div class="right-icons">
    <div class="dropdown-wrapper language">
      <a class="waves-effect waves-blue btn">
        <span>En</span>
        <i class="material-icons right"> language </i>
      </a>
      <div class="dropdown">
        <ul>
          <li class="waves-effect waves-blue">
            Español
            <i class="mex-icon icon"></i>
          </li>
          <li class="waves-effect waves-blue">
            English
            <i class="usa-icon icon"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="separator" *ngIf="!isAuthenticated"></div>
    <app-login *ngIf="!isAuthenticated"></app-login>
    <div class="separator" *ngIf="isAuthenticated"></div>
    <div class="dropdown-wrapper" *ngIf="isAuthenticated">
      <a class="waves-effect waves-blue btn profile">
        <span>Miguel Romero</span>
        <img
          src="https://scontent.fagu1-1.fna.fbcdn.net/v/t1.0-9/76959414_194075558297946_5799015330676211712_o.jpg?_nc_cat=102&_nc_ohc=PGFu_Iyw6I4AQlbpWNkWFcTZ_ykCzUTV6twDO9LTP--fwGxJW03Iv84hw&_nc_ht=scontent.fagu1-1.fna&oh=d31a5023679bd75e014928fc356fb548&oe=5E6E2C59"
          alt="profile picture"
        />
      </a>
      <div class="dropdown">
        <ul>
          <li class="waves-effect waves-blue">
            <i class="material-icons"> person </i> Configurar Perfil
          </li>
          <li class="waves-effect waves-blue" (click)="logOutHandler()">
            <i class="material-icons"> lock </i> Cerrar Sesion
          </li>
        </ul>
      </div>
    </div>
    <div class="separator" *ngIf="isAuthenticated"></div>
    <div class="dropdown-wrapper notifications">
      <a class="waves-effect waves-blue btn profile">
        <i
          class="circle material-icons waves-effect waves-dark"
          *ngIf="isAuthenticated"
        >
          notifications_none
        </i>
      </a>
      <div class="dropdown">
        <ul>
          <h2>
            Notifications
          </h2>
          <div class="scroller">
            <app-notification-item
              [icon]="'sports_soccer'"
              [type]="'basic'"
              [title]="'Notification Item'"
              [description]="
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum
      facilis laborum porro quibusdam'
              "
            ></app-notification-item>
            <app-notification-item
              [icon]="'sports_kabaddi'"
              [type]="'primary'"
              [title]="'Notification Item'"
              [description]="
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum
      facilis laborum porro quibusdam'
              "
            ></app-notification-item>
            <app-notification-item
              [icon]="'wifi'"
              [type]="'success'"
              [title]="'Notification Item'"
              [description]="
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum
      facilis laborum porro quibusdam'
              "
              [date]="dateMockUp"
            ></app-notification-item>
            <app-notification-item
              [icon]="'info'"
              [type]="'info'"
              [title]="'Notification Item'"
              [description]="
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum
      facilis laborum porro quibusdam'
              "
              [date]="dateMockUp"
            ></app-notification-item>
            <app-notification-item
              [icon]="'warning'"
              [type]="'warning'"
              [title]="'Notification Item'"
              [description]="
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum
      facilis laborum porro quibusdam'
              "
              [date]="dateMockUp"
            ></app-notification-item>
            <app-notification-item
              [icon]="'power'"
              [type]="'danger'"
              [title]="'Notification Item'"
              [description]="
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum
      facilis laborum porro quibusdam'
              "
              [date]="dateMockUp"
            ></app-notification-item>
          </div>

          <label>
            clear all
          </label>
        </ul>
      </div>
    </div>
  </div>
</nav>
