<section class="featured">
  <div class="row">
    <div id="test1" class=" col s12">
      <app-featured-man></app-featured-man>
    </div>
    <div id="test2" class=" col s12">
      <app-featured-woman></app-featured-woman>
    </div>
    <div id="test4" class=" col s12">
      <app-featured-all></app-featured-all>
    </div>
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4">
          <a class="waves-effect waves-blue" href="#test1">Men's</a>
        </li>
        <li class="tab col s4">
          <a class="waves-effect waves-blue" href="#test2">Women's</a>
        </li>
        <li class="tab col s4">
          <a class="waves-effect waves-blue" href="#test4">Coed</a>
        </li>
      </ul>
    </div>
  </div>
</section>
