<nav>
    <ul>
        <li class="menu-item waves-effect waves-blue ">
            <i class="material-icons">
                format_size
            </i>
            <span>Torneos</span>
        </li>
        <li class="menu-item waves-effect waves-blue ">
            <i class="material-icons">
                people
                </i>
            <span>Equipos</span>
        </li>
        <li class="menu-item waves-effect waves-blue ">
            <i class="material-icons">
                directions_run
            </i>
            <span>Jugadores</span>
        </li>
    </ul>
</nav>